# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore extra files or folders:
__pycache__
.venv
venv

# Ignore secret developer files:
.env

# JS dependencies
eurekaeats/node_modules
eurekaeats/.pnp
eurekaeats/.pnp.js

# JS testing
eurekaeats/coverage

# Front-end production
eurekaeats/build

# misc.
eurekaeats/.DS_Store
eurekaeats/.env.local
eurekaeats/.env.development.local
eurekaeats/.env.test.local
eurekaeats/.env.production.local

eurekaeats/npm-debug.log*
eurekaeats/yarn-debug.log*
eurekaeats/yarn-error.log*
