/*
  Contents of CSS:
  Header
  Controls
  Basic Text
  Review Tiles
*/

header.landing-page-header {
  background-color: #98DCE8;
  color: white;
  padding: 10px;
  text-align: center;
  height: 100px;
  display: grid;
  grid-template-columns: auto 3fr 2fr;
  grid-template-rows: 100px;
  align-items: center;
  margin-top: 100;
}

main.landing-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; 
}

.landing-page-logo img {
  width: 30vw;
  margin-left: -100px;
}

.landing-page-search img {
  width: 10px;
  height: 10px;
}

.landing-page-search-bar {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
}

/* Controls */

input.landing-page-input {
  display: block;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px 0px 0px 10px;
  width: auto;
  font-size: 14px;
}

button.landing-page-button {
  background-color: #135E8A;
  color: white;
  border: none;
  border-radius: 0px 10px 10px 0px;
  padding: 20px 12px;
  cursor: pointer;
  font-size: 17px;
  font-family: 'Avenir';
  font-weight: bolder;
}

.landing-page-search-icon {
  width: 20px;
  /* Adjust the width as needed */
  height: 20px;
  /* Adjust the height as needed */
}

.landing-page-search-button {
  background-color: #135E8A;
  color: white;
  border: none;
  border-radius: 0px 10px 10px 0px;
  padding: 17px 20px;
  cursor: pointer;
}

.landing-page-header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.landing-page-login-button {
  background-color: #F9BB96;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 30px;
  cursor: pointer;
  margin-left: 100px;
}

.landing-page-signup-button {
  background-color: #E76062;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 5px 30px;
  cursor: pointer;
}

/* Basic Text */

h1.landing-page-h1 {
  font-size: 28px;
  text-align: center;
  font-family: 'Avenir';
  color: #E76062;
}

h2.landing-page-h2 {
  font-size: 24px;
  text-align: center;
  font-family: 'Avenir';
  color: #135E8A;
  text-align: center;
  align-items: center;
}

p.landing-page-p {
  margin-top: 30px; /* Adjust as needed for spacing */
  font-size: 18px;
  font-family: 'Avenir';
  font-weight: 500;
  text-align: left;
}

/* Review Tiles */

.landing-page-blue-rectangle {
  background-color: #E5F7FB;
  height: 230px;
  width: 78.2vw;
  border-radius: 0px 0px 25px 25px;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.landing-page-blue-rectangle1 {
  background-color: #E5F7FB;
  height: 230px;
  width: 78.2vw;
  border-radius: 0px 0px 25px 25px;
  padding: 10px;
  display: flex;
  align-items: center;
}

/* .landing-page-restaurants {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 11px;
}

.landing-page-restaurant {
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px whitesmoke;
}

.landing-page-tile-header {
  background-color: #135E8A;
  color: white;
  font-size: 20px;
  padding: 15px;
  border-radius: 25px 25px 0 0;
  width: 77.5vw;
  font-weight: 500;
  font-family: 'Avenir';
}

.landing-page-blue-rectangle img {
  max-width: 15%;
  margin-right: 20px;
} */

.landing-page-content-container {
  flex: 1;
}

h3.landing-page-h3 {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: 'Avenir';
  font-weight: 500;
}

.tile-header-link {
  color: white;
  /* Add any other styling you want for the link */
  text-decoration: underline; /* If you want to keep the underline */
}