/*
    SearchComponent.css
    -DrkWithT at GitHub
*/

ul.search-result-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

ul.search-result-list > li.search-result-item {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.result-tile-container {
    box-shadow: 5px 5px 5px whitesmoke;
}

.result-tile-header {
    width: 77.5vw;
    padding: 15px;
    border: none;
    border-radius: 25px 25px 0 0;
    background-color: #135E8A;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Avenir';
}

.result-tile-content-container {
    padding: 5px;
}

.result-tile-content-container > h4.result-tile-h4 {
    display: inline-block;
    padding: 5px;
    color: #E76062;
}

a.result-tile-header-link {
    font-weight: bold;
    color: white;
}

a.result-tile-header-link:hover {
    color: #98DCE8;
}

.result-tile-blue-rectangle {
    background-color: #98DCE8;
}

ul.result-tile-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
    list-style: none;
}

ul.result-tile-stats > li.result-tile-stat-entry {
    display: inline-block;
    margin: 0;
    padding: 2.5px;
    list-style: inherit;
    border: none;
    border-radius: 2px;
    background-color: whitesmoke;
    color: #135E8A;
}

.result-tile-img-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.result-tile-img-box > img {
    display: inline;
    max-width: 150px;
}
